
<form #f="ngForm">
  <div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">

        </div>

        <div class="row">




            <div class="col-lg-4">
                <div class="panel panel-default">


                </div>



                    <div class="panel-footer">

                </div>

            </div>

        </div>

    </div>

    <form >
      <div class="form-group col-md-6">
          <div class="mb-3">
          <label >nom</label>

           <input type="text"   class="form-control"  placeholder="entrer le type ..." [(ngModel)]="quiz.nom" #t="ngModel" name="nom" required >
           <div class="alert alert-danger" *ngIf="t.invalid && t.touched">
              <p *ngIf="t.hasError('required')">type est obligatoire </p>
              </div>
        </div>
        </div>

      <br>
       <button   class="btn btn-success" (click)="onSubmit()">edite</button> <br>
       <!-- <button class="btn btn-danger" (click)="()"> {{action}}</button> -->

    <!-- /.container-fluid -->

   <router-outlet></router-outlet>
  </form>
  </div>
  </form>
