<section class="about section-padding" id="section_2">
    <div class="container">


            <div class="col-lg-12 col-12 mb-6 mb-lg-0">
                <div class="about-image-wrap h-100">
                    <img src="https://img.freepik.com/premium-photo/night-skyline-el-kef-city-northwestern-tunisia-northern-africa_261932-5462.jpg?w=2000
                    " class="img-fluid about-image" alt="">

                    <div class="about-image-info">
                        <h4 class="text-white">Go - Event</h4>

                        <p class="text-white mb-0">Our Team Delivers Client Satisfaction!</p>
                    </div>
                </div>
            </div>




    </div>
</section>
