
<section class="about section-padding" id="section_2">
    <div class="container">
        <div class="row">



            <div class="col-lg-6 col-12 d-flex flex-column">
                <div class="about-thumb bg-white shadow-lg">

                    <div class="about-info">
                        <small class="small-title">details <strong class="text-warning"></strong></small>

                        <h2 class="mb-3">ALL Question</h2>




                    </div>
                </div>

                <div class="row h-100">



                </div>
            </div>

        </div>
    </div>


          <table class="table table-sm">
            <thead>
              <th scope="col"> question</th>
              <th scope="col">option1</th>
              <th scope="col">option2</th>
              <th scope="col"> option3</th>
              <th scope="col">bonne_reponse</th>

            </thead>
            <tbody *ngFor="let question of list">
                <tr>
                  <td>{{question.questiondata}}</td>
                  <td>{{question.option1}}</td>
                  <td>{{question.option2}}</td>
                  <td>{{question.option3}}</td>
                  <td>{{question.bonne_reponse}}</td>

                  <td>
                    <a class="btn btn-sm btn-success" [routerLink]="['/updatequestion',question.id]" >
                      Edit
                    </a>
                    <button class="btn btn-sm btn-danger" (click)="delete(question)">
                      Delete
                    </button>
                  </td>

            </tbody>
          </table>

        </section>

<router-outlet></router-outlet>

