
<section class="about section-padding" id="section_2">
  <div class="container">
      <div class="row">

          <div class="col-lg-6 col-12 mb-5 mb-lg-0">
              <div class="about-image-wrap h-100">
                  <img src="images/peter-jones-WZROBIlY8Rg-unsplash.jpg" class="img-fluid about-image" alt="">

                  <div class="about-image-info">
                      <h4 class="text-white">William Smith, CEO</h4>

                      <p class="text-white mb-0">You can freely use Waso Strategy for your website project. Thank you for visiting Tooplate.</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-6 col-12 d-flex flex-column">
              <div class="about-thumb bg-white shadow-lg">

                  <div class="about-info">
                      <small class="small-title">details <strong class="text-warning"></strong></small>

                      <h2 class="mb-3">ALL question</h2>

                      <h5 class="mb-3">Helping small businesses since 2001</h5>

                      <p>Waso Strategy is a Bootstrap 5 HTML template for your business. You may use this template for any purpose. You may not redistribute the template ZIP file on any other website.</p>

                      <p>You may support a little PayPal donation to Tooplate by visiting our <a href="https://www.tooplate.com/contact">contact page</a>. Thank you.</p>
                  </div>
              </div>

              <div class="row h-100">
                  <div class="col-lg-6 col-6">
                      <div class="about-thumb d-flex flex-column justify-content-center bg-danger mb-lg-0 h-100">

                          <div class="about-info">
                              <h5 class="text-white mb-4">We're growing business dolor</h5>

                              <a class="custom-btn btn custom-bg-primary" href="#section_3">Join us</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-6 col-6">
                      <div class="about-thumb d-flex flex-column justify-content-center bg-warning mb-lg-0 h-100">

                          <div class="about-info">
                              <h5 class="text-white mb-4">How did you about us?</h5>

                              <p class="text-white mb-0">Lorem ipsum dolor sit consectetur</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>

          <table class="table table-sm">
            <thead>
              <th scope="col"> question</th>
              <th scope="col">option1</th>
              <th scope="col">option2</th>
              <th scope="col"> option3</th>
              <th scope="col">bonne_reponse</th>

            </thead>
            <tbody *ngFor="let question list">
                <tr>
                  <td>{{question.question}}</td>
                  <td>{{question.option1}}</td>
                  <td>{{question.option2}}</td>
                  <td>{{question.option3}}</td>
                  <td>{{question.bonne_reponse}}</td>

                  <td>
                    <a class="btn btn-sm btn-success" href="">
                      Edit
                    </a>
                    <button class="btn btn-sm btn-danger" (click)="(question)">
                      Delete
                    </button>
                  </td>
                </tr>

            </tbody>
          </table>

        </section>




<router-outlet></router-outlet>

