<!-- <h1>{} Reservation</h1>
<form #f="ngForm">
<div class="form-group col-md-6">
  <label >Reservation Name</label>
  <input type="text" #n="ngModel"  minlength="3" required name="title"  [(ngModel)]="reservation.name"  placeholder="type title here ..."#title="ngModel" required pattern="[a-z]{3,8}" class="form-control">
  <div class="alert alert-danger" *ngIf="n.invalid && n.touched" >
  <p *ngIf="n.hasError('required')">this filed is required</p>
  <p *ngIf="n.hasError('minlength')">minlength is equal to 3</p>
  </div>
</div>
<div class="form-group col-md-6">
  <div class="mb-3">
  <label >Reservation Price</label>
  <input type="number" class="form-control" name="price" [(ngModel)]="reservation.price" placeholder="type price here ..." #price="ngModel" required>
<div *ngIf="price.touched && price.invalid" class="alert alert-danger">
  Price is required
</div>
</div>
</div>
<div class="form-group col-md-6">
  <div class="mb-3">
  <label >Reservation Picture </label>
  <input type="text" class="form-control" name="picture" [(ngModel)]="reservation.picture" placeholder="add picture here ...">
</div>
</div>
<div class="form-group col-md-6">
  <label >Reservation quantity</label>
  <input type="number" class="form-control" name="quantity" [(ngModel)]="reservation.quantity" placeholder="type quantity here ..." #quantity="ngModel" required>
  <div *ngIf="quantity.touched && quantity.invalid" class="alert alert-danger">
    Quantity is required
    </div>
</div>
<br>
<button  [disabled]="f.invalid" class="btn btn-success" (click)="saveReservation()"> {{action}}</button>
</form>

<router-outlet></router-outlet> -->
