
    <section class="about section-padding" id="section_2">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                    <div class="about-image-wrap h-100">
                       <!--  <img src="assets/FrontOffice/images/quiz-test-sortie-entreprise-soirée.png"  width="50%" alt="">-->
                        <img src="assets/FrontOffice/images/unnamed (1).png" class="img-fluid about-image" alt="">



                    </div>
                </div>


                <div class="col-lg-6 col-12 d-flex flex-column">
                    <div class="about-thumb bg-white shadow-lg">

                        <div class="about-info">


                            <h2 class="mb-3">Welcome to Quiz!!</h2>



                            <p>this quiz will contains total 9 questions .Each Question holds 10 Points.</p>
                        </div>
                    </div>

                    <div class="row h-100">


                        <div class="col-lg-6 col-6">
                            <div class="about-thumb d-flex flex-column justify-content-center bg-warning mb-lg-0 h-100">

                                <div class="about-info">
                                    <h5 class="text-white mb-4">Rules:</h5>

                                    <ul>
                                        <li>Correct Question gives you 10 points </li>
                                        <li>Incorrect Question gives to -10 points </li>
                                        <li>You will have 60 sec to answer each question </li>
                                        <li> Refereshing the page will reset the Quiz  </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <div class="about-thumb d-flex flex-column justify-content-center bg-danger mb-lg-0 h-100">

                                <div class="about-info">
                                    <h5 class="text-white mb-4">All the best !!</h5>

                                    <a class="custom-btn btn custom-bg-primary" href="#section_3" routerLink="/addquestion">Start The Quizz</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>












